.slider h3,
.slider h5{
    text-shadow: 1px 2px 7px rgba(0,0,0, 5 );
}
.container p{
    font-size: 16px;
}
.call a{
    font-size: 20px;
}

.section, footer{
    padding: 20px 0;
}
.slider img{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-box{
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 5px;
    display: flex;
    position: sticky;
    top: 10px;
    background-color: white;
    
}
.search-box button {
    width: 23%;
    cursor: pointer;
    margin-left: auto;
    padding: 16px;
    background-color: cornflowerblue;
    color: white;
    border: 0;
    text-transform: uppercase;
}
@media screen and (max-width: 550px){
    .search-box {
        flex-direction: column;
        position: static;
    }

    .search-box > input {
        width: 100%;
        margin-bottom: 12px;
    }
    .search-box > button {
    width: 100%;
    }
}